.main {
  display: flex;
  flex-direction: column;
  align-items: left;
  min-height: 100vh;
  height: 100vh;
  padding: 2rem 4rem;
}

#container {
  width: 100%;
}

#searchBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.description {
  max-width: 100%;
  min-width: 20%;
}
